<mat-toolbar color="primary">
	Lista de Produtos
</mat-toolbar>
<div class="table-container">
	<table mat-table [dataSource]="dataSource" #dataTable class="mat-elevation-z8 ">
		<!-- Position Column -->
		<!-- <ng-container matColumnDef="#">
			<th mat-header-cell *matHeaderCellDef> No. </th>
			<td mat-cell *matCellDef="let item"> {{item.numero}} </td>
		</ng-container> -->

		<!-- Name Column -->
		<ng-container matColumnDef="produto">
			<th mat-header-cell *matHeaderCellDef> Produto </th>
			<td mat-cell *matCellDef="let item"> {{item.produto.nome}} </td>
		</ng-container>

		<!-- Weight Column -->
		<ng-container matColumnDef="quantidade">
			<th mat-header-cell *matHeaderCellDef> Quantidade </th>
			<td mat-cell *matCellDef="let item"> {{item.quantidade}} - {{item.produto.medida}} </td>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="precoEstimado">
			<th mat-header-cell *matHeaderCellDef> Preço Estimado</th>
			<td mat-cell *matCellDef="let item"> {{item.precoEstimado | currency : 'R$' }} </td>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="precoFinal">
			<th mat-header-cell *matHeaderCellDef> Preço Final</th>
			<td mat-cell *matCellDef="let item"> {{item.precoFinal | currency : 'R$' }} </td>
		</ng-container>

		
		<!-- Action Column -->
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Ações</th>
			<td mat-cell *matCellDef="let row">
				<button mat-icon-button color="warn" (click)="openDialog(row)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" (click)="onDeleteItem(row)">
					<mat-icon>delete_outline</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<!-- <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10]">
	</mat-paginator> -->
</div>