<div class="login-form-flex">
  <form [formGroup]="formCadastro">
    <mat-card>
      <mat-card-title>
        Produto
      </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Produto</mat-label>
          <mat-select #product (selectionChange)='onSelectProduto($event)' required>
            <mat-option *ngFor="let produto of produtos" [value]="produto">
              {{produto.nome}} - ({{produto.medida}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input matInput placeholder="quantidade" (keyup)="onKey($event)" id="myInput"
           formControlName="quantidade">
        </mat-form-field>
        <br />
        <p>PREÇO: {{preco}} </p>
        <br />
        <p>TOTAL: {{total}}</p>

      </mat-card-content>
      <mat-card-actions>
        <div class="button-flex-container">
          <button mat-stroked-button color="primary" (click)="addProdutoToCart()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>