<div class="login-form-flex">
  <form [formGroup]="formCadastro">
    <mat-card>
      <mat-card-title>
        Produto
      </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Produto</mat-label>
          <mat-select formControlName="produto" 
          (selectionChange)='onSelectProduto($event)'
           (keydown.enter)="setFocusQtde()" required>
            <mat-option *ngFor="let produto of produtos" [value]="produto">
              {{produto.nome}} - ({{produto.medida}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input matInput placeholder="quantidade" #qtde required
           (keydown.enter)="setFocusProduto()" (keyup)="onKey($event)" id="qtde" formControlName="quantidade">
        </mat-form-field>
        <br />
        <p>Preço: {{preco}} </p>
        <br />
        <p>Total: {{total}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-flex-container">
          <button mat-stroked-button color="primary" (click)="addItemToCart()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>