<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">{{labelForm}} Cliente</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
    <form [formGroup]="formCadastro" (ngSubmit)="formCadastro.valid && salvar()" #resetFormCadastro="ngForm" novalidate>
        <!-- Left block -->
        <mat-card>
            <div class="controlers-wrapper">
                <mat-form-field class="example-full-width">
                    <mat-label>Razão Social</mat-label>
                    <input matInput placeholder="Nome" formControlName="nome" required #name>
                    <mat-error>Razão Social é obrigatória</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>CNPJ</mat-label>
                    <input matInput placeholder="CNPJ" mask="00.000.000/0000-00" [dropSpecialCharacters]="false"
                        formControlName="cnpj" required>
                    <mat-error *ngIf="!formCadastro.controls['cnpj'].valid && formCadastro.controls['cnpj'].touched">
                        {{getErrorCnpj()}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" required autocomplete="off">
                    <mat-error *ngIf="!formCadastro.controls['email'].valid && formCadastro.controls['email'].touched">
                        {{ getErrorEmail() }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Telefone</mat-label>
                    <input matInput placeholder="Telefone" mask="(00)0000-0000" formControlName="telefone" required
                        autocomplete="off">
                    <mat-error>Campo é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Senha" formControlName="senha" autocomplete="off">
                    <mat-error>Campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </mat-card>

        <!-- Right block -->
        <mat-card>
            <div formGroupName="endereco">
                <mat-form-field class="example-full-width">
                    <mat-label>CEP</mat-label>
                    <input matInput placeholder="cep" mask="00000-000"  [dropSpecialCharacters]="false" maxlength="10"
                     id="cep"
                    formControlName="cep" (blur)="pesquisarCep($event.target.value)" required autocomplete="off">

                    <mat-error
                        *ngIf="!formCadastro.get('endereco.cep').valid && formCadastro.get('endereco.cep').touched">
                        {{ getErrorCep() }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Endereço</mat-label>
                    <input matInput placeholder="endereço" formControlName="logradouro" required autocomplete="off">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Número</mat-label>
                    <input matInput placeholder="numero" formControlName="numero" required autocomplete="off">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Complemento</mat-label>
                    <input matInput placeholder="complemento" formControlName="complemento">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>bairro</mat-label>
                    <input matInput placeholder="bairro" formControlName="bairro" required autocomplete="off">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Cidade</mat-label>
                    <input matInput placeholder="cidade" formControlName="cidade" required autocomplete="off">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>UF</mat-label>
                    <input matInput placeholder="uf" formControlName="uf" required autocomplete="off">
                </mat-form-field>
            </div>
        </mat-card>

        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!formCadastro.valid">Salvar</button>
            <button type="button" mat-raised-button routerLink="/clientes">Cancelar</button>
        </mat-card-actions>


        <!-- Submit & Reset -->
        <!-- <mat-card>
            <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                    <button mat-flat-button color="warn">Salvar</button>
                </div>
            </div>
        </mat-card>  -->
    </form>
</div>