<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">{{labelForm}} Categoria</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
    <form [formGroup]="formCadastro" (ngSubmit)="formCadastro.valid && salvar()" #resetFormCadastro="ngForm" novalidate>
        <!-- Left block -->
        <mat-card>
            <div class="controlers-wrapper">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" formControlName="nome" required #name>
                    <mat-error>Nome é obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Ativo</mat-label>
                    <input matInput placeholder="Ativo" formControlName="ativo" autocomplete="off">
                    <mat-error>Campo é obrigatório</mat-error>
                </mat-form-field>
            </div>
        </mat-card>


        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!formCadastro.valid">Salvar</button>
            <button type="button" mat-raised-button routerLink="/categorias">Cancelar</button>
        </mat-card-actions>


        <!-- Submit & Reset -->
        <!-- <mat-card>
            <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                    <button mat-flat-button color="warn">Salvar</button>
                </div>
            </div>
        </mat-card>  -->
    </form>
</div>