table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}
.mat-success {
    background-color: green;
    color: #fff;
}

.goRight {
    align-self: flex-end;
    
}