
.login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  height: 100%;
}

p {
  font-family: Lato;
}


.card-container{
  margin-top: 20px;
  padding: 10px;
  display: flex;
  height: 80px;

  justify-content: center;
  background-color:  #b3b3ff
  ;
  align-items: center;
}

.actions{
  display: flex;
  height: 50px;

  justify-content: center;
  background-color:  #b3b3ff;
}

/* mat-card-title{
  justify-content: center;
  align-items: center;
  font-family: Lato;

} */



.topo-pedido{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-flex-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}



.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  }

  .flex-item:nth-child(1) {
    order: 0;
    flex: 1 1 auto;
    align-self: baseline;
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 4 1 auto;
    align-self: baseline;
    }

.flex-item:nth-child(3) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }