<div fxLayout="row" fxLayoutAlign="center center">
  <h1 class="mat-h2">{{labelForm}} Pedido</h1>
</div>
<div>
  <form fxLayout="column" [formGroup]="formCadastro">
    <mat-card class="top-card">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Nº Pedido</mat-label>
          <input matInput type="text" placeholder="numero" formControlName="numero">
        </mat-form-field>
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option *ngFor="let status of statusList" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="cliente" required>
            <mat-option *ngFor="let cliente of clientes" [value]="cliente.cli_id">
              {{cliente.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </mat-card>

    <br>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 class="mat-h2">Item</h1>
    </div>
    <mat-card formGroupName="item" class="top-card">
      
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Produto</mat-label>
          <mat-select formControlName="produto" #product (selectionChange)='onChangeProduto($event)' required>
            <mat-option *ngFor="let produto of produtos" [value]="produto">
              {{produto.nome}} - ({{produto.medida}})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="10" appearance="outline">
          <mat-label>Preço</mat-label>
          <input matInput currencyMask placeholder="Preço" formControlName="precoEstimado"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
        </mat-form-field>

        <mat-form-field fxFlex="10" appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input matInput placeholder="quantidade" (keyup)="onKey($event)" id="myInput" formControlName="quantidade"
            required>
        </mat-form-field>

        <mat-form-field fxFlex="10" appearance="outline">
          <mat-label>Total</mat-label>
          <input matInput currencyMask placeholder="Total" formControlName="subTotal"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="addItem()" [disabled]="!formCadastro.valid">
          <mat-icon>add_circle</mat-icon>
          Adicionar
        </button>
      </div>
    </mat-card>
  </form>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="50%">CARRINHO DE COMPRAS</div>
</div>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="#">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let item">{{item.numero}}</td>    
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="produto">
    <th mat-header-cell *matHeaderCellDef>Produto</th>
    <td mat-cell *matCellDef="let item">{{item.produto.nome}} - {{item.produto.medida}}</td>
    
  </ng-container>
  
  <ng-container matColumnDef="precoEstimado">
    <th mat-header-cell *matHeaderCellDef>Preço Estimado</th>
    <td mat-cell *matCellDef="let item">{{item.precoEstimado}}</td>
  </ng-container>
  
  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef>Preço</th>
    <td mat-cell *matCellDef="let item">{{item.produto.precoVenda}}</td>
  </ng-container>
  
  <ng-container matColumnDef="qtde">
    <th mat-header-cell *matHeaderCellDef>Quantidade</th>
    <td mat-cell *matCellDef="let item">{{item.quantidade}}</td>
  </ng-container>
  
  <ng-container matColumnDef="subTotal">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let item">{{item.subTotal}}</td>
    <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal() | currency}} </td>
    <td mat-footer-cell *matFooterCellDef> Total </td> -->
    
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let item">
      <button mat-icon-button (click)="onEdit(item)">
        <mat-icon>launch</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(item)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container mdColumnDef="total">
    <md-total-cell *mdTotalCellDef> Total </md-total-cell>
  </ng-container>

  <ng-container mdColumnDef="total">
    <md-total-cell *mdTotalCellDef>{{getTotal()}} </md-total-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->

</table>