<div fxLayout="row" fxLayoutAlign="center center">
  <h1 class="mat-h2">{{labelForm}} Pedido</h1>
</div>
{{formCadastro.value|json}}
<div>
  <form fxLayout="column" [formGroup]="formCadastro">
    <mat-card class="top-card">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Nº Pedido</mat-label>
          <input matInput type="text" placeholder="numero" formControlName="numero">
        </mat-form-field>
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option *ngFor="let status of statusList" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="cliente" required>
            <mat-option *ngFor="let cliente of clientes" [value]="cliente.cli_id">
              {{cliente.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </mat-card>

    <br>
    <br>

    <mat-card formGroupName="item" class="top-card">
      <mat-card-header>
        <mat-card-title>Produto</mat-card-title>
      </mat-card-header>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Produto</mat-label>
          <mat-select formControlName="produto" #product (selectionChange)='onChangeProduto($event)' required>
            <mat-option *ngFor="let produto of produtos" [value]="produto">
              {{produto.nome}} - ({{produto.medida}})
            </mat-option>
          </mat-select>          
        </mat-form-field>

        <mat-form-field fxFlex="10" appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input matInput placeholder="quantidade" (keyup)="onKey($event)" id="myInput" formControlName="quantidade"
            required>
        </mat-form-field>
        <span>X</span>

        <mat-form-field fxFlex="10" appearance="outline">
          <mat-label>Preço Venda Estimado</mat-label>
          <input matInput currencyMask placeholder="Preço Venda Estimado" formControlName="precoEstimado"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
        </mat-form-field>
        <mat-form-field fxFlex="10" appearance="outline">
          <mat-label>SubTotal</mat-label>
          <input matInput currencyMask placeholder="SubTotal" formControlName="subTotal"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="onAddItem()">
          <mat-icon>add_circle</mat-icon>
          Adicionar Item
        </button>
      </div>
       <p>TOTAL: </p>
    </mat-card>
    <app-item-table [form]="formCadastro"></app-item-table>
  </form>
</div>




<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="50%">TITULO 1</div>
</div>